body {
  background-image: url("images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

nav {
  background-color: #2f2f2f;
  border: 2px dashed #ff0000;
}

nav a {
  color: #ffffff;
}

nav a:visited {
  color: #0000ff;
}

