html {
  border: 3px solid #2f2f2f;
}

body {
  font-family: Verdana;
  background-image: url("images/background.jpg");
  background-size: 100%;
}

nav {
  background-color: #2f2f2f;
  border: 2px dashed #ff0000;
  text-align: center;
  width: 100%;
}

nav a {
  color: #ffffff;
}

nav a:visited {
  color: #0000ff;
}

h1 {
  background-size: 100% 100%;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 20px 5%;
}

footer {
  background-color: #2f2f2f;
  border: 2px dashed #ff0000;
  text-align: center;
}

#intro {
  font-style: oblique;
}

#intro div {
  border: 2px dashed #cc0000;
  margin-top: 5%;
  padding:  2%
}

.bottom a {
  color: #ffffff;
}

.bottom a:hover {
  color: #0000ff;
}

table, td, th {
  border: 1px solid gray 
}

@media screen and (max-width: 800px) {
  body {
    font-size: 75%;
  }
  img {
    width: 100%;
  }
}



